
<div class="row ">
    {{# each events as |event|}}
        <a href="/events/register?category={{event.name}}">
            <div class="col-6 ">
                <div class="card">
                    <div class="card-header">

                        {{event.name}}
                    </div>
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            {{#each event.catg as |subCategory|}}
                                <li>
                                    {{subCategory}}
                                </li>
                            {{/each}}
                        </ul>

                        <p> For query you may contact:</p>
                        <p>
                            {{event.incharge}},
                            {{event.phn}}
                        </p>
                        <a href="/events/registeredTeams?event={{event.name}}" class="btn col-md-2 offset-1 mt-3 btn-success">View Registered Teams</a>

                    </div>
                </div>
            </div>
        </a>


    {{/each}}
</div>