<div class="row ">
    {{# each category as |category|}}
        <a href="/event/register ? category="{{category.name}}>
            <div class="col-6 ">
                <div class="card">
                    <div class="card-header">

                        {{category.name}}
                    </div>
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            {{#each catg as |subCategory|}}
                                <li>
                                    {{subCategory}}
                                </li>
                            {{/each}}
                        </ul>
                        <p>
                            {{category.catg}}
                        </p>
                        <p> For query you may contact:</p>
                        <p>
                            {{category.incharge}},
                            {{category.phn}}
                        </p>
                    </div>
                </div>
            </div>
        </a>


    {{/each}}
</div>